img{
  width: 350px;
  height: 380px;
}

#dropshadow1 {
  filter: drop-shadow(20px 9px 2px blue);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#grayscale1 {
filter: grayscale(100%);
}
#grayscale2 {
filter: grayscale(0.7);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#sepia1 {
  filter: sepia(100%);
}
#sepia2 {
  filter: sepia(0.5);
}
#sepia3 {
  filter: sepia(0.3);
}
#sepia4 {
  filter: sepia(0.8);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#saturate1 {
filter: saturate(0%);
} 
#saturate2 {
filter: saturate(50%);
} 
#saturate3 {
filter: saturate(150%);
} 
#saturate4 {
filter: saturate(500%);
} 
#saturate5 {
filter: saturate(1000%);
} 
#saturate6 {
filter: saturate(2.5);
} 
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#hue_rotate1 {
 filter: hue-rotate(180deg);
}
#hue_rotate4 {
 filter: hue-rotate(-180deg);
}
#hue_rotate2 {
 filter: hue-rotate(90deg);
}
#hue_rotate3 {
 filter: hue-rotate(-90deg);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#invert1 {
  filter: invert(70%);
}
#invert2 {
  filter: invert(100%);
}
#invert3 {
  filter: invert(0%);
}
#invert4 {
  filter: invert(1);
}
#invert5 {
  filter: invert(3);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#opacity1 {
  filter: opacity(50%);
}
#opacity2 {
  filter: opacity(10%);
}
#opacity3 {
  filter: opacity(100%);
}
#opacity4 {
  filter: opacity(0.7);
}
#opacity5 {
  filter: opacity(5);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#brightness1 {
  filter: brightness(50%);
}
#brightness2 {
  filter: brightness(10%);
}
#brightness3 {
  filter: brightness(120%);
}
#brightness4 {
  filter: brightness(0.3);
}
#brightness5 {
  filter: brightness(5);
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#contrast1 {
  filter: contrast(140%);
}
#contrast2 {
  filter: contrast(10%);
}
#contrast3 {
  filter: contrast(8);
}
#contrast4 {
  filter: contrast(0.5);
}
#contrast5 {
  filter: contrast(4%);
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#blur1 {
  filter:blur(5px);
}
#blur2 {
  filter:blur(1px);
}
#blur3 {
  filter:blur(15px);
}
#blur4 {
  filter:blur(20px);
}
#blur5 {
  filter:blur(3px);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.filtered1 {
  filter: blur(5px) hue-rotate(180deg);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.filtered2 {
  filter:  saturate(30%) drop-shadow(5px 9px 2px gray) blur(1px);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.filtered3 {
  filter:  brightness(150%) sepia(100%);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
